body {
  color : rgb(26, 2, 2);
  background-color: rgba(220, 245, 231, 0.592);
 HEAD
  
}

h1{
  font-size: 50px;
 HEAD

}

/* nav li {

width: 150px;

line-height: 50px;           
text-align: center;
border: 1px solid black;
}
h1 {
>>>>>>> d590aa32a213f51b463eab97c8f00ed339facb91
>>>>>>> b242edd709e4d78e453df8b1be3be763df450ffb
  text-align: center;
} */

nav{ 
  background-color: black;
  color : white;
  padding: 10px;
  display: flex;
}
li {
  list-style: none; 
  color:rgb(238, 229, 229);
  font-size:20px;
}  
a{
  text-decoration: none;
  color : white;
}
a:hover{
  text-decoration: underline;
}

img{
  height: 250px;
}
.image-top{
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
}
@media screen and (min-width: 782px){
  .image-top{
    justify-content: space-between;
  
  }
}
.hidden{
  display:none;
}
.visible:hover div{
  display:flex;
}

/*
nav ul li {
      list-style: none;
      line-height:44px;
   
      background-color:black;
     
      
}
    nav ul li a {
      color:rgb(220, 209, 209);
      padding:10px;
      font-size:20px;
      text-decoration:none;
      margin:30px;
      text-align: center;
}
      li a:hover {
        border-bottom:3px #FFF solid;

}
       nav ul li ul { 
          display:none; 
}  
          nav ul li:hover ul { 
            z-index:99999;
            display:list-item;
            position:absolute;
            margin-top:5px;
            margin-left:-10px;
}   
          nav ul li:hover ul li {
            float:none;
}
        
        img{
          width :100%;
}
           */

 /* @media screen and (min-width: 720px){
  nav ul {
    display: flex ;
  
  }
        nav
        {
            width: auto;
            text-align: left;
          }

        nav ul li:hover ul li {
       float:none;
}



  nav ul
  {
      flex-direction: column;

   
    }

    nav li
    {
        padding-left: 4px;
    }
    
    nav a
    {
        font-size: 1.1em;
    }
    
    nav a:hover
    {
        border-bottom: 0;
    }

  }
 */


