body {
  color : rgb(26, 2, 2);
  background-color: rgba(220, 245, 231, 0.592);
  color:blue;
  font-size: 50px;

}

.carre{
  width : 400px;
  background-color : black ;
  height : 40px

}


nav li {

width: 150px;

line-height: 50px;           
text-align: center;
border: 1px solid black;
}
.h1 {
  text-align: center;
}

nav{ 

  background-color: black;
  color : white;
 text-align: center;
}

nav ul {
  display: flex ;

}

li {
  list-style:none !important; 
  color:#FFF;
  padding:10px;
  font-size:20px;
  text-decoration:none;
  
 
   }
  nav ul {
    background-color:black;
    padding:0;
    margin:0;
   
    }
    nav ul li {
      list-style: none;
      line-height:44px;
      float:left;
      background-color:black;
     
      
    }
    nav ul li a {
      color:#FFF;
      padding:10px;
      font-size:20px;
      text-decoration:none;
      margin:30px;
      text-align: center;
      }
      li a:hover {
        border-bottom:3px #FFF solid;
        
      
        }
       nav ul li ul { 
          display:none; 
          }  
          nav ul li:hover ul { 
            z-index:99999;
            display:list-item !important;
            position:absolute;
            margin-top:5px;
            margin-left:-10px;
            
          }   
          nav ul li:hover ul li {
            float:none;
          }
        
        img{
          width :100%;
        }

        @media screen and (max-width: 720px)

        
p{
    color: black;
}


@media screen and (max-width: 720px)
{
    p
    {
        color: black; 
        background-color: rgb(237, 230, 230);
        font-size: 1.2em;
    }
}


@media all and (max-width: 720px)
{
    #bloc_page
    {
        width: auto;
    }
}
@media all and (max-width: 720px)
{
    nav
    {
        width: auto;
        text-align: left;
    }
    
    nav ul
    {
        flex-direction: column;
    }

    nav li
    {
        padding-left: 4px;
    }
    
    nav a
    {
        font-size: 1.1em;
    }
    
    nav a:hover
    {
        border-bottom: 0;
    }
}
